/* ======= reboot ======= */
html,body{
    font-family: $font-style;
    color: $textColor-primary;
    font-size: $font-size-base;
    background-color: $bgColor-primary;
}
a{
    text-decoration: none;
    color: $textColor-primary;
}