/* ======= variable ======= */
// color
$white: #ffffff;
$blue: #2A58A8;
$blue-light: #508DF6;
$black: #333333;
$gray-1: #F2F2F2;
$gray-2: #E0E0E0;
$gray-3: #B4AFAA;
$green: #6CF0B7;
$red: #FF8A8A;

// text-color
$textColor-primary: $black;
$textColor-secondary: $white;
// bg-color
$bgColor-primary: $gray-1;
$bgColor-secondary: $white;

// font-family
$font-style: 'Noto Serif TC', serif;

// font-weight
$font-weight-normal: normal;
$font-weight-med: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

//font-size
$font-size-base: 16px;
$font-size-sm: $font-size-base - 2; //14
$font-size-md: $font-size-base * 1.25; //20
$font-size-lg: $font-size-base * 1.5;  //24
$font-size-xl: $font-size-base * 2.5;  //40