/* ======= room ======= */
.p-room{
    ul{
        background-color: $white;
        padding: 32px 8px;
        border-radius: 5px;
        border:1px solid $gray-2;
        margin: 40px 0;
    }
    li{
        padding: 0 32px;
        h3{
            font-size: $font-size-base;
            color: $gray-3;
            margin-bottom: 8px;
        }
        p{
            font-size: $font-size-lg;
            font-weight: $font-weight-black;
        }
        &:nth-of-type(4){
            border-right: 1px solid $gray-2;
        }
    }
    &__intro{
        border-left: 4px solid $blue-light;
        padding-left: 36px;
        margin-bottom: 40px;
        h2{
            color: $blue-light;
            font-size: $font-size-xl;
            margin-bottom: 24px;
            font-weight: $font-weight-bold;
        }
        p{
            font-weight: $font-weight-med;
            line-height: 32px;
        }
    }
    &__detail{
        h3{
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            margin-bottom: 24px;
        }
        div{
            padding: 32px 40px;
            border: 1px solid $gray-2;
            border-radius: 5px;
        }
        p{
            width: 50%;
            font-weight: $font-weight-med;
            margin-bottom: 25px;
            &:nth-of-type(11){
                margin-bottom: 0;
            }
            &:nth-of-type(12){
                margin-bottom: 0;
            }
            span:nth-of-type(2){
                vertical-align: super;
            }
        }
        p.none{
            color: $gray-3;
        }
        i{
            margin-right: 12px;
        }
    }
}
